# config.yaml.template
# Self-tune configuration
version: 1

server:
  url: null
  api_key: null
  auto_upload: false

trigger:
  min_retry_count: 3

retention:
  max_local_samples: 1000
  auto_cleanup_days: 90
